{% extends 'base.html.twig' %}

{% block title %}Userr{% endblock %}

{% block body %}
    <h1>Userr</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userr.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ userr.email }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ userr.login }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ userr.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ userr.lastname }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ userr.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Lastconnectiondate</th>
                <td>{{ userr.lastconnectiondate ? userr.lastconnectiondate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ userr.creationdate ? userr.creationdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Anonymized</th>
                <td>{{ userr.anonymized ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('userr_index') }}">back to list</a>

    <a href="{{ path('userr_edit', {'id': userr.id}) }}">edit</a>

    {{ include('userr/_delete_form.html.twig') }}
{% endblock %}
